<% @page_title = "Ballast Treatment Systems" %>
<% @page_description = "New Subject" %>



<section class="home-hero">
	<div class="container hero-container">
		<div class="site-header">
			<%= image_tag('anchor.png', alt: '', class: 'img-responsive anchor') %>
			<h1>Ballast<br><span> Treatment Systems</span></h1>
		</div>
		<!-- <div class="col-md-6 col-md-offset-4 col-xs-12"> -->
			<!-- <h2>Custom Ballast Solutions<br> from the Industry Experts</h2> -->
		<!-- </div> -->
	</div>
</section>

<div class="main">
	<!-- <div class="container">
		<section class="section1">
					<div class="col-md-12 col-xs-12">
						<div class="ballast-block">
							<div class="col-md-10 col-md-offset-1 col-xs-12">
								<div class="inner">
									<h2>Custom Ballast Solutions from the Industry Experts</h2>
								</div>
							</div>
						</div>
					</div>
		</section>
	</div> -->


		<section class="section1a"><%= image_tag('paper.png', alt: '', class: 'img-responsive') %></section>
		<section class="section1b">
			<div class="inside">
				<div class="container">
					<div class="col-md-12">
						<h2 class="header">Custom Designed Ballast Solutions<br> from Experts of the Industry.</h2>
					</div>

					<div class="row">
						<div class="col-md-6 col-xs-12">
								<p>Ballast Treatment Systems has a comprehensive background in the maritime industry.
								Our team is made up of highly skilled, professional engineers, who deliver quality results, and the highest level of customer service.
								Ballast Treatment Systems has the knowledge, training, and experience that you want behind your water management plan.</p>
						</div>

						<div class="col-md-5 col-md-offset-1">
							<h3><b>We offer international service.</b></h3>
							<p>If you reside outside of the U.S., and believe that the BTS team is the best choice for your ship, please don't hesitate to contact us! We will make arrangements to accommodate any international job. </p>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="section1c"><%= image_tag('paper-rev.png', alt: '', class: 'img-responsive') %></section>

		<section class="section2">
			<div class="container">
					<div class="col-md-4 col-xs-12">
						<%= image_tag('carrier1.jpg', alt: '', class: 'img-responsive') %>
						<div class="whitebox">
							<!-- <p>With our comprehensive background in the maritime industry, our talented team of professional engineers, and the high level of customer service we offer, Ballast Treatment Systems is the obvious choice for developing your water management plan.</p> -->
							<p>We value your time as much as our own. Our team moves quickly and efficiently throughout the process of assessing the specific needs of your ship, and engineering the water treatment solution it requires. </p>
						</div>
					</div>

					<div class="col-md-4 col-xs-12">
						<%= image_tag('carrier2.jpg', alt: '', class: 'img-responsive') %>
						<div class="whitebox">
							<!-- <p>We don't waste any time! Our team moves quickly and efficiently. We assess your specific needs, and design a custom system that meets both the water management needs of your ship, and the guidelines and standards provided by the International Maritime Organization.</p> -->
							<p>Every system implemented by the BTS engineers meets both the water management needs of your ship, and the guidelines and standards designated by the International Maritime Organization.</p>
						</div>
					</div>

					<div class="col-md-4 col-xs-12">
						<%= image_tag('carrier3.jpg', alt: '', class: 'img-responsive') %>
						<div class="whitebox">
							<p>The BTS team is dedicated to the goal of eliminating the spread of harmful aquatic organisms, while maintaining the high-quality of custom engineering that our reputation is built on.</p>
						</div>
					</div>
			</div>
		</section>
	</div>
</div>

<!--
manage their ballast water and sediments to certain standards, according to a ship-specific ballast water management plan.

Most ships will need to install an on-board system to treat ballast water and eliminate unwanted organisms.
More than 60 type-approved systems are already available.

how ship owners should choose a ballast water treatment system strategically to ensure compliance with the U.S.
Coast Guard requirements

+++++++++++++++

ballast water treatment system design, certification and integration, we deliver comprehensive, independent programs based on your needs.

is dedicated to providing high quality, professional engineering and service to vessel owners for ballast water system integrations. The Choice philosophy is to work in partnership with clients and to provide premier, value-added engineering and service capability.

http://www.imo.org/en/About/Conventions/ListOfConventions/Pages/International-Convention-for-the-Control-and-Management-of-Ships'-Ballast-Water-and-Sediments-(BWM).aspx

,


##

==================

A blend of theoretical engineering and practical experience.
First-hand knowledge
Extensive experience with vessel surveys and retrofits in shipyard, dry dock, quayside or underway.

Knowledge And Experience
Marine engineering, structural, piping and electrical systems
Ballast water management systems and IMO BWM 2004 Convention
U.S. Coast Guard Final Rule and Class requirements
Retrofit of vessels in dry dock at shipyard, quay side and/or underway
Extensive access to ship owners, ship yards and repair yards
Comprehensive Services
 -->
