<% @page_title = "Services" %>
<% @page_description = "Ballast Treatment Systems, in Mobile, Al, performs a list of services as they design and implement your ballast water management system." %>



<section class="services-hero">
    <div class="container hero-container">
        <h1>Our Services</h1>
        <!-- <h3>Ballast Treatment Systems covers your ship from start to finish</h3> -->
    </div>
</section>

<section class="section1a"><%= image_tag('paperxl.png', alt: '', class: 'img-responsive') %></section>
<section class="section1b">
	<div class="inside">
		<div class="container">

			<div class="row">
				<div class="col-md-9">
					<div class="col-md-12 col-xs-12 serve">
						<h3>Analyze:  </h3>
						<p>
							The experienced staff at Ballast Treatment Systems will make a complete analyzation of the needs of the shipowner, or the New Construction Shipyard,
							in order to specify the best suited installation based on vessel type, trade routes, and ballast pumping rates.
						</p>
					</div>

					<div class="col-md-12 col-xs-12 serve">
						<h3>Determine:  </h3>
						<p>
							Ballast Treatment Systems personnel has been on the cutting edge of the development of various types of treatment systems.
							The BTS engineers will sort through the pros &amp; cons of the various systems, in order to determine which type and manufacturer will best suit the need.
						</p>
					</div>

					<div class="col-md-12 col-xs-12 serve">
						<h3>Source:  </h3>
						<p>
							BTS principals have existing relationships &amp; agreements in place with the various approved manufacturers. Once the type and size of unit have been engineered, BTS engineers will competitively source the “State of the Shelf” unit.
						</p>
					</div>
				</div>
				<div class="col-md-3"><%= image_tag('logistics.jpg', alt: '', class: 'img-responsive mobile-hide') %></div>
			</div>
		</div>
	</div>

	<div class="inside bl">
		<div class="container">
			<div class="row">
				<div class="col-md-3"><%= image_tag('repairs.jpg', alt: '', class: 'img-responsive mobile-hide') %></div>

				<div class="col-md-9">
					<div class="col-md-12 col-xs-12 serve">
						<h3>Functional Design:   </h3>
						<p>
							Once sourced, BTS engineers will pour over drawings provided from the shipowner, in order to provide a functional design that best suits the operation and
							maintenance of the vessel. All functional designs will then be vetted and approved through the appropriate regulatory body.
						</p>
					</div>

					<div class="col-md-12 col-xs-12 serve">
						<h3>Detailed Design:  </h3>
						<p>
							Once functional design has been approved, the BTS team will dispatch personnel to the specific vessel, in order to develop a detailed design for each individual installation. Depending on the level of effort and the exact installation method, BTS can develop 3-D models of the installation in ShipConstructor software, in order to output piping spools, foundations, and cable run locations.
						</p>
					</div>

					<div class="col-md-12 col-xs-12 serve">
						<h3>Installation:  </h3>
						<p>
							BTS can offer turn-key installation, which can be accomplished underway, or during a shipyard period. Should the ship owner elect to have a shipyard perform the installation, BTS will supply a dedicated Project Manager to ensure that the installation is being performed in accordance with both manufacturers and BTS standards.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="inside">
		<div class="container">
			<div class="row">
				<div class="col-md-9">
					<div class="col-md-12 col-xs-12 serve">
						<h3>Test &amp; Trials:  </h3>
						<p>
							BTS Quality Managers will supervise and coordinate with regulatory bodies to be able to certify that the installation is properly functioning. All water testing shall be done by an independent lab to ensure compliance.
						</p>
					</div>

					<div class="col-md-12 col-xs-12 serve">
						<h3>Spares &amp; Consumables:  </h3>
						<p>
							The BTS logistics staff will ensure that the vessel is always supplied with the proper consumables, in order for the installation to perform properly. Our world wide supplier network is able to get the parts and consumables when and where they are needed.
						</p>
					</div>

					<div class="col-md-12 col-xs-12 serve">
						<h3>Post-Installation Support:  </h3>
						<p>
							BTS post-installation support team members are on call 24 hours a day, to assist with remote troubleshooting via a built-in diagnostic system, developed by BTS in conjunction with various BWTS companies, to enable BTS to better serve its customers. BTS will also have factory trained technicians available to perform periodic maintenance that would be required during drydocking periods.
						</p>
					</div>
				</div>
				<div class="col-md-3"><%= image_tag('freighter.jpg', alt: '', class: 'img-responsive') %></div>
			</div>
		</div>
	</div>
</section>
<section class="section1c"><%= image_tag('paperxl-rev.png', alt: '', class: 'img-responsive') %></section>
