<% @page_title = "Contact" %>
<% @page_description = "Get in touch with Ballast Treatment Systems, in Mobile, Al, and learn more about designing your custom ballast water management system." %>


    <section class="contact-hero">
        <div class="container hero-container">
            <h1>Contact Us</h1>
        </div>
    </section>

        <section class="section1a"><%= image_tag('paperxl.png', alt: '', class: 'img-responsive') %></section>
        <section class="section1b">
            <div class="inside">
                <div class="container">
                    <div class="col-md-8 col-xs-12 contact-info">
                        <h3><span>Locally or Internationally</span><br>Ballast Treatment Systems works for you.</h3>

                        <div class="col-md-6">
                            <p>Ballast Treatment Systems is located in Mobile, Alabama, but we offer our services worldwide.
                            Please contact us if you need more information, or if you are ready to move forward with a custom water management solution designed specifically for you.</p>
                        </div>

                        <div class="col-md-6">
                            <h4>Phone: <div class="phone"><%= number_to_phone(2514068629 ,pattern: /(\d{3})(\d{3})(\d{4})$/,delimiter: ".", class: 'tel') %></div></h4>

                            <h4>Email:<br>
                            <%= mail_to "info@ballasttreatmentsystems.com", encode: "hex", class: 'email' do %>
                              info@ba<span style="display:none">hexscramblewords</span>llasttreatmentsystems.com
                            <% end %>
                            </h4>
                        </div>
                    </div>

                    <div class="col-md-4 col-xs-12 formsec">
                        <% flash.each do |message_type, message| %>
                            <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
                        <% end %>
                        <%= form_for @contact, url: contact_path do |contact| %>
                            <fieldset>
                                <div class="form-group name">
                                    <%= contact.text_field :name, placeholder: "Full Name" %>
                                </div>

                                <div class="form-group phone">
                                    <%= contact.text_field :phone, placeholder: "Phone Number" %>
                                </div>

                                <div class="form-group email">
                                    <%= contact.email_field :email, placeholder: "Email" %>
                                </div>

                                <div class="form-group message">
                                    <%= contact.text_area :content, placeholder: "Message" %>
                                </div>

                                <div class="form-group honey">
                                    <%= label_tag :honey %>
                                    <%= contact.text_field :honey %>
                                    <span class="help">Do not fill in this field. It is an anti-spam measure.</span>
                                </div>

                                <div class="form-group submit">
                                    <%= contact.submit "Submit", :class=> "send-message" %>
                                </div>
                            </fieldset>
                        <% end %>
                    </div>
                </div>
            </div>
        </section>
        <section class="section1c"><%= image_tag('paperxl-rev.png', alt: '', class: 'img-responsive') %></section>
