<% @page_title = "Contact" %>
<% @page_description = "Pls." %>


    <section class="contact-hero">
        <div class="container hero-container">
            <h1>Contact Us</h1>
            <!-- <h2>Ballast Treatment Systems</h2> -->
        </div>
    </section>

        <section class="section1a"><%= image_tag('paper.png', alt: '', class: 'img-responsive') %></section>
        <section class="section1b">
            <div class="inside">
                <div class="container">
                    <div class="col-md-6 col-xs-12">
                        <h3><span>Locally or Internationally</span><br>Ballast Treatment Systems works for you.</h3>
                        <p>Ballast Treatment Systems is located in Mobile, Alabama, but we offer our services worldwide.
                        Please contact us if you need more information, or if you are ready to move forward with a custom water management solution designed specifically for you.</p>

                        <div class="col-md-6">
                            <%= number_to_phone(2514068629 ,pattern: /(\d{3})(\d{3})(\d{4})$/,delimiter: ".", class: 'tel') %>
                          </div>
                          <div class="col-md-6">
                            <%= mail_to "info@ballasttreatmentsystems.com", encode: "hex", class: 'email' do %>
                              info@ba<span style="display:none">hexscramblewords</span>llasttreatmentsystems.com
                            <% end %>
                          </div>
                    </div>

                    <div class="col-md-5 col-md-offset-1 col-xs-12 formsec">
                        <% flash.each do |message_type, message| %>
                            <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
                        <% end %>
                        <%= form_for @contact, url: contact_path do |contact| %>
                            <fieldset>
                                <div class="form-group name">
                                    Full Name: <br>
                                    <%= contact.text_field :name %>
                                </div>

                                <div class="form-group phone">
                                    Phone Number: <br>
                                    <%= contact.text_field :phone %>
                                </div>

                                <div class="form-group email">
                                    Email address: <br>
                                    <%= contact.email_field :email %>
                                </div>

                                <div class="form-group message">
                                    Message: <br>
                                    <%= contact.text_area :content %>
                                </div>

                                <div class="form-group honey">
                                    <%= label_tag :honey %>
                                    <%= contact.text_field :honey %>
                                    <span class="help">Do not fill in this field. It is an anti-spam measure.</span>
                                </div>

                                <div class="form-group submit">
                                    <%= contact.submit "Submit", :class=> "send-message" %>
                                </div>
                            </fieldset>
                        <% end %>
                    </div>
                </div>
            </div>
        </section>
        <section class="section1c"><%= image_tag('paper-rev.png', alt: '', class: 'img-responsive') %></section>
