<footer class="footer">
  <div class="container">
    <div class="col-md-6">
        <ul>
          <li><%= link_to "Home", root_path, class: 'ft-nav' %></li>
          <li><%= link_to "Contact Us", contact_path, class: 'ft-nav' %></li>
        </ul>
    </div>

    <div class="col-md-6">
      <p class="copyright">&copy; <%= Time.now.year %> High Seas Design House. All rights reserved. </p>
    </div>
</footer>


<!-- Off Canvas Menu -->
<div class="offcanvas-menu">
  <a class="close-offcanvas" href="#"><i class="fa fa-close"></i></a>
  <div class="offcanvas-inner">
    <div class="module">
      <h3 class="module-title">Main Menu</h3>
      <div class="module-content">
        <ul class=" menu">
              <li><%= link_to "Home", root_path %></li>
              <li><%= link_to "Services", services_path %></li>
              <li><%= link_to "Contact", contact_path %></li>
        </ul>
      </div>
    </div>
  </div>
</div>
