<header class="header">
  <div class="main-header">
    <div class="container no-padding">
      <div class="col-md-4">
          <ul class="contact-list">
            <li class="phone"><%= number_to_phone(2514068629 ,pattern: /(\d{3})(\d{3})(\d{4})$/,delimiter: "-", class: 'tel') %></li>

            <li>
              <%= mail_to "info@ballasttreatmentsystems.com", encode: "hex", class: 'email' do %>
                info@ba<span style="display:none">hexscramblewords</span>llasttreatmentsystems.com
              <% end %>
            </li>
          </ul>
      </div>

	    <div class="col-md-4 logo-block">
	      <%= link_to(image_tag( 'ballast-logo-h.png', alt: 'Ballast Treatment Systems Logo', class: 'img-responsive logo-img'), root_path ) %>
	    </div>

	    <div class="col-md-4 mega-tab">
          <ul class="megamenu-parent menu-zoom">
              <li class="menu-item"><%= link_to "Home", root_path, class: 'nav-link' %></li>
              <li class="menu-item"><%= link_to "Get in Touch", contact_path, class: 'nav-link' %></li>
	        </ul>
      </div>
    </div>
  </div>
</header>
